*{
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;
    background-color: #F0F0F0;
}
.strong-header {
    font-family: 'Anton', sans-serif;
}
.center {
    margin: auto;
    justify-content: center;
    text-align: center;
}