
* {
    box-sizing: border-box;
}
.jumbotron {
    background-image: url("../images/pizza.png");
    }
h1 {
    text-align: center;
    color: rgba(68, 68, 68, 0.63);
    background-color: rgba(248, 248, 255, 0.51);
}
.btn {
    float: right;
}
.panel-background {
    background-color: #007bff;
}
.btn-group {
    float: right;
}