* container {
    box-sizing: border-box;
    width: 100%;
}
.jumbotron {
    background-image: url("../images/pizza.png");
    }
h1 {

}

@media screen and (max-width:){
    .d-sm-none .d-md-block {
        display: none;
    }
}