* {
    box-sizing: border-box;
}
/*adding margin to top/bottom and sides will pull content off of
the page and give space to edges of content*/
body {
    margin: 1% 2%;
}
@media screen and (min-width: 992px) {
    .alert-info {
        display: none;
    }

    nav {
        float: right;
    }

    .nav-links {
        list-style-type: none;
        margin-top: 20px;
        line-height: 3em;
        float: left;
        padding-left: 0px;

    }

    .nav-links > li {
        color: blue;
        text-decoration: underline;
        display: inline-block;
        line-height: 3em;
        padding: 0;
        margin: .5em;
    }

    h1 {
        font-family: sans-serif;
        line-height: 3em;
        float: left;
        margin: 0;
    }

    .header-img {
        margin: auto;
        padding: 0;
        width: 100%;
        text-align: center;
    }

    .main {
        float: left;
        width: calc(65% - 1em);
        margin-left: .5em;
        margin-right: .5em;
        margin-bottom: 3em;
    }

    .sub-section {
        font-style: oblique;
        float: right;
        width: calc(30% - 2em);
        margin-left: 1em;
        margin-right: .5em;
    }
    .main h2 {
        font-family: Damascus, sans-serif;
    }

    footer {
        clear: both;
    }

}

.alert-info {
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
    background-color: rgba(95, 252, 255, 0.42);
    text-align: center;
    margin: .5em;
    padding: 1em;
    width: 95%;
}

.nav-links > li {
    color: blue;
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
    display: inline-block;
    background-color: lightgrey;
    margin: .5em;
    padding: 0 .5em;
    width: 95%;
}

.nav-links {
    list-style-type: none;
    margin-top: 20px;
    line-height: 4em;
    padding-left: 0px;
}

img {
    margin: auto;
    padding: 0;
    width:100%;
    text-align: center;
}

h1 {
    font-size: 3em;
    text-align: center;
    margin: 0;
}

.sub-section {
    font-style: oblique;
}
